@model List<H3_LanguageDemo.Models.TranslationText>
@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Language.js" defer translation_text="@Json.Encode(Model)"></script>

<div class="text-center">
    <img src="https://cloudkey.live/logo.png" alt="dansk_logo" title="dansk_logo" style="max-width: 5%; margin-top: 3rem;" />

    <h1 class="display-4" data-translation="1"></h1>
    <p data-translation="2"></p>
    <p data-translation="3"></p>
</div>