@model List<H3_LanguageDemo.Models.TranslationText>
@{
    ViewBag.Title = "Home Page";
}
<!--
    Import another JS file, this is where we change the language.
    The defer keyword, means to load after the page content, this is important to be able to translate all elements.
    Also the translation_text is a JSON string, passed from C# to the JS file, this holds all the text, in all languages.
-->
<script src="~/Scripts/Language.js" defer translation_text="@Json.Encode(Model)"></script>

<div class="text-center">
    <img src="https://web.archive.org/web/20211226085009im_/https://cloudkey.live/logo.png" alt="dansk_logo" title="dansk_logo" style="max-width: 5%; margin-top: 3rem;" />

    <h1 class="display-4" data-translation="1"></h1>
    <p data-translation="2"></p>
    <p data-translation="3"></p>
</div>